* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.not-supported {
  display: none;
  width: 630px;
  height: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  background: -webkit-gradient(linear, left top, left bottom, from(#464369), to(#1b1b2b));
  background: linear-gradient(to bottom, #464369, #1b1b2b);
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.15), 10px 30px 45px rgba(0, 0, 0, 0.3), -2px -5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.15), 10px 30px 45px rgba(0, 0, 0, 0.3), -2px -5px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.not-supported.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.not-supported h4 {
  color: #fff;
  font-size: 1.2em;
  text-align: center;
}

.drop-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#464369ee), to(#1b1b2bee));
  background: linear-gradient(to bottom, #464369ee, #1b1b2bee);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  pointer-events: none;
  z-index: 1000;
}

.drop-ui.active {
  opacity: 1;
}

.drop-ui h5 {
  pointer-events: none;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
}

.flip-card {
  width: 630px;
  height: 315px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.flip-card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card.show-list .flip-card-inner {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.flip-card .front,
.flip-card .back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#464369), to(#1b1b2b));
  background: linear-gradient(to bottom, #464369, #1b1b2b);
  -webkit-box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.15), 10px 30px 45px rgba(0, 0, 0, 0.3), -2px -5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.15), 10px 30px 45px rgba(0, 0, 0, 0.3), -2px -5px 10px rgba(0, 0, 0, 0.15);
}

.flip-card .back {
  color: #f6bdfa;
  font-weight: 600;
  font-size: 20px;
  padding: 20px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  z-index: 2;
}

.player {
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
  border-radius: 10px;
}

.player .header {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.player .header .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player .header .buttons span {
  width: 15px;
  height: 15px;
  background: #bdced6;
  border-radius: 50%;
  margin-right: 10px;
}

.player .header .buttons span:first-child {
  background: #e8c250;
}

.player .header .list {
  display: none;
}

.player .header .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.player .header .title h1 {
  font-size: 1em;
  font-weight: 600;
  color: #e8c250;
  text-transform: uppercase;
}

.player .center {
  width: 100%;
  padding: 25px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player .center .visualizer {
  width: 200px;
  height: 90px;
}

.player .center .visualizer canvas {
  width: 200px;
  height: 90px;
}

.player .info {
  width: 100%;
  height: 90px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player .info .name {
  margin-bottom: 5px;
}

.player .info .name h2 {
  color: #fff;
  font-weight: 500;
  max-width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player .info .bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player .info .bottom .volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.player .info .bottom .volume .icon {
  margin-right: 8px;
}

.player .info .bottom .volume input,
.player .info .bottom .volume input::-webkit-slider-runnable-track,
.player .info .bottom .volume input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
}

.player .info .bottom .volume input {
  position: relative;
  display: inline-block;
  width: 100%;
  outline: none;
  background: none;
}

.player .info .bottom .volume input:focus {
  outline: none;
}

.player .info .bottom .volume input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: var(--VOLUME-RANGE);
  height: 5px;
  background: #00fa00;
  border-radius: 2px;
  z-index: 1;
  cursor: pointer;
}

.player .info .bottom .volume input::-webkit-slider-thumb {
  background: #00fa00;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -8px;
  cursor: pointer;
}

.player .info .bottom .volume input::-webkit-slider-runnable-track {
  background: #201e35;
  height: 5px;
  border-radius: 2px;
  cursor: pointer;
}

.player .progress-box {
  width: 100%;
  padding: 10px 40px;
}

.player .progress-box .progress {
  width: 100%;
  background: #201e35;
  height: 5px;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.player .progress-box .progress .progress-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.player .progress-box .progress .progress-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 550px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#ffffff10), color-stop(#fff), to(#ffffff10));
  background: linear-gradient(to left, #ffffff10, #fff, #ffffff10);
}

.player .progress-box .progress .point-indicator {
  position: absolute;
  top: 50%;
  left: -1%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}

.player .progress-box #currentTime {
  width: 100%;
  margin-top: 5px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player .progress-box #currentTime span {
  color: #32fb1b;
  letter-spacing: 1px;
  font-weight: 500;
}

.player .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.player .controls .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
  cursor: pointer;
}

.player .controls .icon:last-child {
  margin-right: 0;
}

.player .controls .icon:hover svg path {
  fill: #eaf0f3;
}

.player .controls .icon.active svg path {
  fill: #00fa00;
}

.player .controls .loop {
  position: relative;
}

.player .controls .loop.active-single-loop::before {
  content: "1";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #00fa00;
  font-weight: 600;
  font-size: 10px;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.icon:hover svg path {
  fill: #eaf0f3;
}

.icon.active svg path {
  fill: #00fa00;
}

.play-list {
  color: #eaf0f3;
  padding: 35px;
  width: 100%;
  height: 100%;
  position: relative;
}

.play-list .close {
  position: absolute;
  top: 0;
  right: 0;
}

.play-list ol {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.play-list ol::-webkit-scrollbar {
  width: 8px;
}

.play-list ol::-webkit-scrollbar-thumb {
  position: relative;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88031), to(#f7721a));
  background: linear-gradient(to bottom, #f88031, #f7721a);
}

.play-list ol::-webkit-scrollbar-track {
  background: #282542;
  border-radius: 5px;
}

.play-list ol li {
  list-style: none;
  margin-bottom: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-list ol li span {
  pointer-events: none;
}

.play-list ol li #listIndex {
  font-weight: 600;
  margin-right: 5px;
}

.play-list ol li #listItemName {
  font-weight: 600;
  width: 87%;
  max-width: 470px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.play-list ol li button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-list ol li button svg {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.play-list ol li:last-child {
  margin-bottom: 0;
}

.play-list ol li:hover svg {
  opacity: 1;
}

.play-list ol li:hover svg path {
  fill: #ffffffdd;
}

.play-list ol li:hover span, .play-list ol li.active span {
  color: #f88031;
}

.play-list .open-file {
  display: none;
}

.open-file {
  position: absolute;
  bottom: 28px;
  right: 10px;
}

.open-file input {
  display: none;
}

@media (max-width: 645px) {
  .flip-card {
    max-width: 320px;
    width: 95%;
    height: 460px;
  }
  .player .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 20px;
    height: 69%;
  }
  .player .center .visualizer {
    margin: 50px 0 20px 0;
  }
  .player .center .info {
    margin-left: 0;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .player .center .info .name {
    max-width: 100%;
    text-align: center;
  }
  .player .center .info .name h2 {
    font-size: 18px;
  }
  .player .center .info .bottom {
    display: none;
  }
  .player .progress-box {
    padding: 20px;
  }
  .player .controls {
    margin-top: 0;
  }
  .player .controls .icon {
    margin: 0 15px;
  }
  .player .controls .open-file {
    display: none;
  }
  .player .header {
    margin-top: 18px;
  }
  .player .header .buttons {
    display: none;
  }
  .player .header .icon {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 20px;
  }
  .play-list {
    padding: 30px 0 0 0;
    height: 100%;
  }
  .play-list ol {
    height: 90%;
  }
  .play-list .close {
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
  }
  .play-list .open-file {
    display: inline-block;
    background: transparent;
  }
  .open-file {
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    z-index: 500;
  }
}
/*# sourceMappingURL=style.css.map */